* {
  margin: 0;
  padding: 0;
}
/* Common styles */
body {
  font-family: "Open Sans", sans-serif;
}
.text-primary-color {
  color: #fd6e0a;
}
.btn-primary {
  background-color: #fd6e0a;
  border-radius: 5px;
  border: 0;
  padding: 15px 35px;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
}
.btn-secondary {
  border-radius: 5px;
  border: 1px solid #fd6e0a;
  padding: 15px 35px;
  font-size: 20px;
  color: #fd6e0a;
  font-weight: 700;
  background: none;
}
.section-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
.section-description {
  color: #757575;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding: 20px 70px;
}

/* Nav related style */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 200px;
}
.nav-title {
  font-size: 45px;
  font-weight: 800;
  color: #181818;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
}
nav a {
  text-decoration: none;
  color: #474747;
}
/* Header Style */
header {
  background: #fff8f3;
  background-image: url(../images/header_bg.png), url(../images/developer.png);
  background-repeat: no-repeat;
  background-position: bottom right, bottom left;
}
.banner {
  padding: 30px 30px 0px 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner .profile-pic {
  width: 500px;
}
.banner-greeting {
  font-size: 45px;
  font-weight: 600;
  color: #474747;
}
.banner-title {
  color: #181818;
  font-size: 85px;
  font-weight: 700;
  margin-bottom: 30px;
}
.banner-description {
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 30px;
}
.banner-content {
  max-width: 585px;
}

/* Main Section Styles */
/* About Section */
.about {
  padding: 130px 150px;
  border-radius: 10px;
  background: #fff8f3;
  margin: 130px 200px;
}
.about-info-container {
  display: flex;
  justify-content: space-around;
}
.about-info {
  color: #757575;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}
.info-title{
    font-weight: 400;
}
.info-description{
font-weight: 700;
}
